.slider-header {
  height: 100vh;
}

.header-center {
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.header-heading {
  position: relative;
  top: 50%;
  font-family: monospace;
  letter-spacing: 9px;
  font-size: 2.3rem;
  color: #bf9ca4;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-arrow {
  position: relative;
  top: 70%;
  height: 100px;
  cursor: pointer;

  path {
    fill: #bf9ca4;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}



/*  NAVIGATION */

.header-navigation {
  padding: 0;
  background-color: #7977A1;
  list-style: none;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  li {

    font-size: 1.3rem;

    a {
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

  }
}

@media screen and (max-width: 750px) {
  .header-navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 10px;
    justify-items: center;
    padding-top: 8px;
    padding-bottom: 8px;

    li {
      font-size: 0.9rem;

      &:last-child {
        grid-column: 1 / 3;
        justify-self: center;
      }
    }

  }

}